/* *{
  margin: 0px;
  box-sizing: border-box;
  padding: 0%;
} */

html{ 
  font-size: 100%;
}

@media(max-width: 1500px){
  html{
    font-size: 100%;
  }
}

@media(min-width: 400px){
  html{
    font-size: 80%;
  }
  .nav {
    font-size: 1.2rem; /* Example of reducing font size for smaller screens */
    margin: 1rem 5%; /* Adjust margins for smaller screens */
  }

  .nav h3 {
    margin: 0 1rem; /* Adjust spacing around headings for smaller screens */
    float: none;
    display: block;
  }
}


.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(0, 0, 222,0.1);
  height: calc(100vh - 80vh);
}

.t-header{
  font-size: 3.125rem;
  font-family: 'Times New Roman', Times, serif;

}

.justify-content-center{
  background-color: rgba(79, 76, 76, 0.2);
  border-radius: 1rem;
  max-width: 30rem;
  font-size: 1.5rem;
  color: black;
}

.nav h3 {
  margin: 6.25rem;
  display: block;
}

.a-header{
  word-spacing: 0px;
  margin: 0px;
  display: block;
  
}

.custom-nav-dropdown .nav-link {
  color: black; /* Change text color of the dropdown title */
}

.mcard{
  border: 1px solid black;
  border-radius: 2rem;
  text-align: center;
  display: inline-block;
  max-width: 350px;
  padding: 20px;
  width: 200vw;
  height: 50vh;
  margin: 40px;
  cursor: pointer;
  background-color: hsla(0, 0%, 74%, 0.3);
  box-shadow: 5px 5px 5px hsla(0, 4%, 21%, 0.6);
}

.mcard .card-image{
  border-radius: 50%;
  min-width: 10vw;
  max-width: 15vw;
  max-height: 30vh;
  height: 30vh;
  min-height: 18vh;
  width: 15vw;
  background-repeat: no-repeat;
  background-size: contain;

}

.mcard h4{
  color: rgba(46, 43, 43,0.8);
}

.mcard a{
  float: left;
  font-size: 1.3rem;
}

.mcard .read{
  font-size: 1.3rem;
  float: right;
  padding: 0em;
  color: grey;
}

.justify-content-center{
  position: sticky;
  cursor: pointer;
  
}

