*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0%;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(0, 0, 222,0.1);
  height: 150px;
}

.t-header{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;

}

.nav{
  height: 80px;
  margin-top: 30px;
  margin-left: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* word-spacing: 100px; */
  display: flex;
  border-radius: 40px;
  font-size: 25px;
  width: 80%;
  background-color:rgba(120, 120, 120,0.3);
}

.nav h3 {
  margin: 0 100px;
}

.a-header{
  word-spacing: 0px;
  margin: 0px;
  
}